<p id="notice"><%= notice %></p>

<h1>Doubts</h1>




<% if user_signed_in? %>
    <div class="container-fluid">
        <%= render 'list', item: @doubts %>
    </div>
<% end %>
<br>

<%= link_to 'New Doubt', new_doubt_path , :class  => "btn btn-success" %>
<br><br>